apiVersion: apps/v1
kind: Deployment
metadata:
  name: front
  namespace: front-ns
spec:
  replicas: 2  
  selector:
    matchLabels:
      app: front
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 25%        
      maxUnavailable: 25%  
  template:
    metadata:
      labels:
        app: front
    spec:
      imagePullSecrets:
        - name: ghcr-secret
      containers:
        - name: front
          image: ghcr.io/25-2-cloudcomputingsystems-team11/front:v8 
          ports:
            - containerPort: 80
          resources:
            requests:
              memory: "128Mi"
              cpu: "100m"
            limits:
              memory: "512Mi"
              cpu: "500m"
